<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
</head>
<body>
    <h1>Welcome to URL Shortener</h1>
    <div layout:fragment="content">
    <div class="jumbotron bg-light p-5 rounded-3 my-4">
        <p class="lead">A simple URL shortener service. Create short, easy-to-share links.</p>
    </div>
    </div>
</body>
</html>
